version: '3.9'

services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    restart: always
    depends_on:
      - db
    ports:
      - '8080:8080'

  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      NODE_ENV: production
    ports:
      - '3000:3000'

volumes:
  db_data:
